/* line 17, ../../../../usr/local/var/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../usr/local/var/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../usr/local/var/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../usr/local/var/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../usr/local/var/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../usr/local/var/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../usr/local/var/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../usr/local/var/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../usr/local/var/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Proxima Nova Light Italic';
  src: url("../fonts/ProximaNova-LightItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/ProximaNova-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-LightItalic.woff") format("woff"), url("../fonts/ProximaNova-LightItalic.ttf") format("truetype"), url("../fonts/ProximaNova-LightItalic.svg#1a04ccc617b24808e8115891ca97cce8") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: 'Proxima Nova Extrabold';
  src: url("../fonts/ProximaNova-Extrabold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/ProximaNova-Extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Extrabold.woff") format("woff"), url("../fonts/ProximaNova-Extrabold.ttf") format("truetype"), url("../fonts/ProximaNova-Extrabold.svg#131ef5652291f8dc4bd914210809df02") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype"), url("../fonts/ProximaNova-Semibold.svg#67a6c9f6d7dc8f35ecb08de766ea56f0") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold.svg#d1e00a8fb1fd9b428ab6b90409479fde") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#2c1459d58560f08b4b0586fbe80aa4cd") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova-Light.svg#da6ddaf3cf69afbba47bd74b5010b98d") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200;
}

/* line 6, sass/screen.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* IE < 8 */
/* line 20, sass/screen.scss */
.h-valign:before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  height: 100%;
}

/* line 27, sass/screen.scss */
.h-valigned {
  display: inline-block;
  vertical-align: middle;
}

/* line 32, sass/screen.scss */
body {
  text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  min-width: 320px;
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  background: #ededed;
}

/* line 44, sass/screen.scss */
.inner {
  height: 100%;
  padding: 0 10px;
}

/* line 49, sass/screen.scss */
.form {
  width: 98%;
  margin: 0;
  padding: 0;
}

/* line 55, sass/screen.scss */
.field {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

/* line 62, sass/screen.scss */
.input,
.textarea {
  display: block;
  width: 100%;
  padding: 10px 5px;
  margin: 0;
  border: 1px solid #ddd;
  font: 14px/24px "Helvetica Neue", Helvetica;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  color: #333;
}

/* line 74, sass/screen.scss */
::-webkit-input-placeholder {
  color: #ababab;
}

/* line 78, sass/screen.scss */
:-moz-placeholder {
  color: #ababab;
}

/* line 82, sass/screen.scss */
::-moz-placeholder {
  color: #ababab;
}

/* line 86, sass/screen.scss */
:-ms-input-placeholder {
  color: #ababab;
}

/* line 90, sass/screen.scss */
.textarea {
  color: #ababab;
}
/* line 93, sass/screen.scss */
.textarea:focus {
  color: #333;
}

/* line 98, sass/screen.scss */
.arrow {
  display: inline-block;
  font: 14px/44px 'Proxima Nova Semibold';
  color: #4B80B7;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 105, sass/screen.scss */
.arrow:hover {
  color: #4B80B7;
}

/* line 110, sass/screen.scss */
.button {
  display: block;
  border: 2px solid #8EB83F;
  background: #8EB83F;
  text-align: center;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  border-radius: 23px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
/* line 121, sass/screen.scss */
.button > span {
  border-radius: 50px;
  font: 14px/44px 'Proxima Nova Semibold';
}
/* line 126, sass/screen.scss */
.button:hover {
  background: #fff;
  color: #8EB83F;
}
/* line 131, sass/screen.scss */
.button.secondary {
  width: 50%;
  border: 2px solid #4B80B7;
  background: #fff;
  color: #4B80B7;
}
/* line 137, sass/screen.scss */
.button.secondary:hover {
  background: #4B80B7;
  color: #fff;
}

/* line 144, sass/screen.scss */
.maps {
  width: 98%;
  margin: 44px 0;
}
/* line 148, sass/screen.scss */
.maps li {
  margin-bottom: 10px;
}

/* line 153, sass/screen.scss */
.map {
  width: 100%;
}
/* line 156, sass/screen.scss */
.map img {
  max-width: 100%;
}

/* line 161, sass/screen.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ededed;
}

/* line 168, sass/screen.scss */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ededed;
  padding: 10px 0;
}

/* line 176, sass/screen.scss */
#cartodb-map {
  position: absolute;
  top: 44px;
  bottom: 68px;
  left: 0;
  width: 100%;
}
