@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "_fonts";

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

%clearfix:before,
%clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
%clearfix:after { clear: both; }
%clearfix { zoom: 1; } /* IE < 8 */

.h-valign:before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  height: 100%;
}

.h-valigned {
  display: inline-block;
  vertical-align: middle;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  min-width: 320px;
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  top: 0; left: 0;bottom: 0;
  width: 100%;
  position: absolute;
  background: #ededed;
}

.inner {
  height: 100%;
  padding: 0 10px;
}

.form {
  width: 98%;
  margin: 0;
  padding: 0;
}

.field {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.input,
.textarea {
  display: block;
  width: 100%;
  padding: 10px 5px;
  margin: 0;
  border: 1px solid #ddd;
  font: 14px/24px "Helvetica Neue", Helvetica;
  @include border-radius(3px);
  outline: none;
  color: #333;
}

::-webkit-input-placeholder {
  color: #ababab;
}

:-moz-placeholder {
  color: #ababab;
}

::-moz-placeholder {
  color: #ababab;
}

:-ms-input-placeholder {
  color: #ababab;
}

.textarea {
  color: #ababab;

  &:focus {
    color: #333;
  }
}

.arrow {
  font: 14px/44px 'Proxima Nova Semibold';
  color: #4B80B7;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: #4B80B7;
  }
}

.button {
  display: block;
  border: 2px solid #8EB83F;
  background: #8EB83F;
  text-align: center;
  @include border-radius(23px);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  @include transition(all .15s ease-in-out);

  > span {
    border-radius: 50px;
    font: 14px/44px 'Proxima Nova Semibold';
  }

  &:hover {
    background: #fff;
    color: #8EB83F;
  }

  &.secondary {
    width: 50%;
    border: 2px solid #4B80B7;
    background: #fff;
    color: #4B80B7;

    &:hover {
      background: #4B80B7;
      color: #fff;
    }
  }
}

.maps {
  width: 98%;
  margin: 10px 0 58px;

  li {
    margin-bottom: 10px;
  }
}

.map {
  width: 100%;

  img {
    max-width: 100%;
  }
}

.header {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  background: #ededed;
  padding: 10px 0;
}

.footer {
  position: fixed;
  bottom: 0; left: 0;
  width: 100%;
  background: #ededed;
  padding: 10px 0;
}

#cartodb-map {
  position: absolute;
  top: 68px; bottom: 68px; left: 0;
  width: 100%;
}
